.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .table-container {
    width: 80%;
    margin-top: 20px;
  }
  
  .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .table-header h2 {
    margin: 0;
  }
  
  .table-header .btn {
    margin-left: auto;
  }
  
  .table-header .btn:focus {
    outline: none;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
   
  
    background-size: cover;
    background-position: center;
  }
  
  footer {
    background-color: #060606;
    color: #fff;
    padding: 5px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 1;
  }
  .custom-button {
    background-color: #034404; /* Yeşil renk */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: 0.4s;
}

.custom-button:hover {
    background-color: #21885f; /* Koyu yeşil renk */
    color: white;
}
.custom-button1 {
  background-color: #034404; /* Yeşil renk */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition-duration: 0.4s;}
